<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href="jumbotron-narrow.css" rel="stylesheet">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400">
<style type="text/css">
body {
  font-family: "Open Sans";
}
.table-striped>tr:nth-child(odd){
   background-color:red;
}
</style>
</head>
<body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            {% assign pages = site.pages | sort:"weight" %}
            {% for p in pages %}
              <li role="presentation" {% if p.url == page.url %}class="active"{% endif %}><a href="{{ p.url }}">{{ p.menu }}</a></li>
            {% endfor %}
            <li role="presentation"><a href="https://github.com/gokrazy/gokrazy">Source</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">gokrazy</h3>
      </div>

      {{ content }}

      <footer class="footer" style="text-align: center">
        <p>&copy; 2017 The gokrazy authors</a></p>
      </footer>

    </div>
</body>
</html>
<!--
vim:ts=2:sw=2:et
-->
